header {
    width: 100%;
    padding: 0 4rem;
}

.name-and-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    padding: 1rem 0;
    margin: 1rem 0;

    border: .1rem solid antiquewhite;
    border-radius: .3rem;
}

.name-and-picture>h1 {
    padding: 0 1rem;
}

main {
    padding: 2rem 4rem;
    width: 100%;
}

section {
    padding: 2rem 0;
}

section.relevant-skills>ul.primary {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

@media only screen and (min-width: 600px) {
    section.relevant-skills>ul.primary {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}

@media only screen and (min-width: 1200px) {
    section.relevant-skills>ul.primary {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1800px) {
    section.relevant-skills>ul.primary {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

section.relevant-skills>ul.primary li strong {
    text-decoration: underline;
}

section.relevant-skills>ul li ul li {
    text-indent: 3rem;
}

section.relevant-skills>ul.secondary {
    text-indent: 3rem;
}

section h2 {
    text-indent: 3rem;
}

main section:nth-child(n+3) p {
    padding: 0 4rem;
}

main section:nth-child(n+3) ul {
    list-style: circle;
    padding: 0 7rem;
    padding-bottom: 1rem;
}