---
import { render } from "astro:content";
import { getEntry } from "astro:content";
import styles from "./main.module.css";

const resumeContent = await getEntry(
    "resume",
    "src/components/main/resumecontent/resumecontent",
);

const { Content } = await render(resumeContent!);
---

<main class={styles.main}>
    <slot>
        <main>
            <Content />
        </main>
    </slot>
</main>
